<div class="input-box">
  <input class="input" [(ngModel)]="city" placeholder="Город" (keyup)="search(city)">
  <span *ngIf="notFound" class="notFound">Город не найден</span>
</div>
<div class="info" *ngIf="!notFound && weatherInfo">
  <div class="block city">
    <span class="name">Город: </span>
    <span class="value">{{city}}</span>
  </div>
  <div class="block temp">
    <span class="name">Температура: </span>
    <span class="value">{{weatherInfo.temp}} °C</span>
  </div>
  <div class="block pressure" *ngIf="weatherInfo.pressure">
    <span class="name">Давление: </span>
    <span class="value">{{weatherInfo.pressure | pressConv | number:'1.0-2'}} мм Рт.Ст.</span>
  </div>
  <div class="block wind">
    <span class="name">Ветер: </span>
    <div class="value">
      <span class="power">{{weatherInfo.wind_speed}} м/c</span>
      <span class="route">{{weatherInfo.wind_deg | degrConv}}</span>
    </div>
  </div>
</div>


