.info
  margin-top: 10px;

.block
  margin: 5px 0;

  & > .name,
  & > .value
    display inline-block
    vertical-align middle

.notFound
  font-size: 16px;
  color: darkred;
  margin-left 10px;

.notFound,
.input
  display inline-block
  vertical-align middle
